/* @@author A0140034B */

#_mainWindow {
    -fx-background-color: transparent;
}

#_taskWindow {
	-fx-background-color: white;
	-fx-background-radius: 20;
	
	-fx-border-radius: 15;
  	-fx-border-width: 8;
	-fx-border-color: #651b1b;
}

#_feedbackWindow {
	-fx-background-color: rgba(0, 0, 0, 0.8);
	-fx-background-radius: 20;
}

#_categoryPane {
	-fx-background-radius: 15;
	-fx-background-color: rgba(0, 0, 0, 0.05);
}

#_userInputTextField {
	-fx-background-radius: 20;
	
	-fx-border-radius: 15;
  	-fx-border-width: 8;
	-fx-border-color: #651b1b;
	
	-fx-font-size: 2em;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

#_scopeOfViewLabel {
	-fx-font-size: 2.5em;
	-fx-text-fill: black;
	-fx-padding: 20 0 0 0;
}

#_feedbackLabel {
	-fx-text-fill: white;
}

#_topPromptLabel, #_bottomPromptLabel{
	-fx-background-color: rgba(0, 0, 0, 0.8);
	-fx-background-radius: 20; 
    -fx-text-fill: white;
	-fx-padding: 10 25 10 25;
	-fx-font: 1.2em System;
}

#_maxiButton {
	-fx-background-image: url('/images/MaxiImage.png');
	-fx-background-size: 100% 100%;
}

#_miniButton {
	-fx-background-image: url('/images/MiniImage.png');
	-fx-background-size: 100% 100%;
}

#_closeButton {
	-fx-background-image: url('/images/CloseImage.png');
	-fx-background-size: 100% 100%;
}

#_backButton {
	-fx-background-image: url('/images/BackImage.png');
	-fx-background-size: 100% 100%;
}

.label {
	-fx-font-size: 1.5em;
    -fx-font-family: "Tempus Sans ITC";
    -fx-text-fill: black;
    -fx-padding: 0 10 0 10;
}

.toggle-button {
	-fx-font-size: 1.5em;
    -fx-font-family: "Tempus Sans ITC";
    -fx-text-fill: black;
    
	-fx-background-radius: 15;	
	-fx-background-color: lightgrey;
}

.toggle-button:selected {
	-fx-text-fill: white;
	-fx-background-color: grey;
}

.context-menu .label {
  	-fx-font-size: 0.8em;
  	-fx-font-family: "System";
}

.tooltip {
	-fx-font-size: 1.5em;
}

.list-cell {
    -fx-background-color: transparent;
}

.button {
	-fx-background-color: lightgrey;
	-fx-background-radius: 50%;
}

.button:pressed {
	-fx-background-color: grey;
}

.list-view {
	-fx-background-radius: 15;
	-fx-background-color: rgba(0, 0, 0, 0.05);
}

/* The main scroll-bar */
.list-view .scroll-bar {
	-fx-background-color: transparent;
	-fx-padding:5 5 5 0;
}

/* The increment and decrement button in scrollbar */
.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-background-color:transparent;
    -fx-padding: 2px;
}

/* The main scroll-bar which user interact with*/
.list-view .scroll-bar:horizontal .thumb,
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
	-fx-background-radius: 2em;
}
